@import url(http://weloveiconfonts.com/api/?family=entypo);

[data-icon]:after {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none;
}

input[type="search"] {
  width: 300px;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="search"]::-moz-input-placeholder {
  color: transparent;
}
input[type="search"]:-ms-input-placeholder {
  color: transparent;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  /* width: 32px;
  height: 32px;
  line-height: 30px; */
  /* color: white; */
  text-align: left;
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
  position: absolute;
  content: 'x';
  font-style: normal;
}

input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
  font-family: "entypo";
  content: attr(data-icon);
}
input[type="search"] + label {
  position: absolute;
  margin: 0px 0 0 -30px;
  cursor: pointer;
}
input[type="search"] + label:before {
  position: absolute;
  left: -152px;
  width: 180px;
  color: #fff;
  font: bold 14px/20px "Arial", sans-serif;
  text-align: left;
}
input[type="search"] + label:after {
  margin-left: 7px;
  color: #fff;
  content: '\25BE';
}
input[type="search"]:focus {
  /*@include input-placeholder {
    font-weight: normal;
    color: #fff;
  } */
}
input[type="search"]:focus::-webkit-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus::-moz-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:-ms-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:invalid + label:before {
  display: none;
}
input[type="search"]:focus:invalid + label:after {
  margin-left: 4px;
  content: attr(data-icon);
}
input[type="search"]:valid + label {
  display: none;
}

@container root style(--darkmode: 1) {
    .ui-autocomplete {
        background: hsl(228, 5%, 15%) !important;
        border-color: hsl(228, 5%, 15%) !important;
    }
}
@container root style(--darkmode: 0) {
    .ui-autocomplete {
        background: hsl(228, 5%, 80%) !important;
        border-color: hsl(228, 5%, 80%) !important;
    }
}

.ui-autocomplete {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  width: 190px;
  max-height: 180px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-width: 4px 4px 4px 0;
  border-style: solid;
}
.ui-autocomplete ul {
  list-style: none;
}
.ui-autocomplete li {
  height: 36px;
  margin: 0;
  font: bold 14px/36px Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
.ui-autocomplete li:hover {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
}
.ui-autocomplete li:hover:nth-child(5), .ui-autocomplete li:hover:last-child {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
.ui-autocomplete li a {
  display: block;
  padding: 0 12px;
  cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

::-webkit-scrollbar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}
